<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.io.east.district">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity android:name=".me.AboutPartnersActivity"/>
        <activity android:name=".money.AssetsManagementActivity" />
        <activity android:name=".money.RechargeStatusActivity" />
        <activity android:name=".money.ConfirmPrepaidActivity" />
        <activity android:name=".money.PrepaidActivity" />
        <activity android:name=".me.TotalPerformanceActivity" />
        <activity android:name=".me.MyPerformanceActivity" />
        <activity android:name=".me.TeamManagementActivity" />
        <activity android:name=".money.MarginDepositActivity" />
        <activity android:name=".money.MyDepositActivity" />
        <activity android:name=".money.RechargeRecordActivity" />
        <activity android:name=".me.SafeCenterActivity"/>
        <activity android:name=".me.SetFundPassWordActivity"/>
        <activity android:name=".me.SetPsdActivity"/>
        <activity android:name=".me.MoneyPassWordActivity"/>

        <activity
            android:name=".start.StartActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask" /> <!-- 建议使用包名加fileprovider，同一手机不能安装一样的authorities应用 -->
        <activity android:name=".start.GuidanceActivity" />
        <activity android:name=".login.LoginAndRegsterActivity" /> <!-- 登录注册转账界面 -->
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask" /> <!-- 登录 -->
        <activity
            android:name=".login.RegisterActivity"
            android:launchMode="singleTask" /> <!-- 注册 -->
        <activity android:name=".login.FindPassWordActivity" /> <!-- 找回密码 -->
        <!-- 设置用户信息 -->
        <!-- 系统设置 -->
        <activity android:name=".me.MeActivity" />

        <activity android:name=".me.SettingActivity" />
        <activity android:name=".me.AboutActivity" />
        <activity android:name=".certification.CertificationActivity" />
        <activity android:name=".me.NoticeActivity" />
        <activity android:name=".me.ShareActivity"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.io.east.district.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>

        <meta-data
            android:name="design_height_in_dp"
            android:value="720"/>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 适配华为（huawei）刘海屏 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>